In [16]:
import pandas as pd
import numpy as np
import re
import datetime

## Overview
In this notebook we examine the intersection between words that debuted in the NYT crossword in the last five years 
1. words added to the OED in the last four years
2. the Urban Dictionary word of the day archive

In [6]:
cw = pd.read_csv('cw_full.csv').drop('Unnamed: 0', axis=1)

print(cw.shape)
cw.head()

(127956, 8)

,title,clue,date,year,answer,unique,day,answer_count
0,,"Join, as two pieces of metal by application of...",December 31,2016,SPOTWELD,False,Saturday,1
1,,Scrap,December 31,2016,SPAT,False,Saturday,11
2,,Preservers of plant specimens,December 31,2016,HERBARIA,False,Saturday,1
3,,Glaring,December 31,2016,HARSH,False,Saturday,6
4,,People on the wrong end of a landslide,December 31,2016,ALSORANS,False,Saturday,3

In [10]:
oed['word'] = oed['word'].map(lambda x: x.lower())
cw['answer'] = cw['answer'].map(lambda x: x.lower())

cw_unique = cw[cw['unique'] == True]

cw_unique

,title,clue,date,year,answer,unique,day,answer_count
9,,Exposed part of a deal,December 31,2016,upcard,True,Saturday,1
13,,Cosplay and fanfic are parts of it,December 31,2016,nerdculture,True,Saturday,1
17,,Hypothetical miracle material,December 31,2016,unobtainium,True,Saturday,1
19,,Strips to pieces?,December 31,2016,baconbits,True,Saturday,1
40,,Publishing order,December 31,2016,printrun,True,Saturday,1
41,,An emoticon is a simple form of it,December 31,2016,asciiart,True,Saturday,1
42,,Chain of seven countries,December 31,2016,theandes,True,Saturday,1
66,,One may hold a ship in place,December 23,2016,tractorbeam,True,Friday,1
68,,Visa option,December 23,2016,cashadvance,True,Friday,1
119,,Upset,December 23,2016,knockover,True,Friday,1
120,,"""Let's see what you've got""",December 23,2016,impressme,True,Friday,1
138,,"Attractive young woman, in rap slang",December 24,2016,shawty,True,Saturday,1
141,,2006 Justin Timberlake #1 hit,December 24,2016,sexyback,True,Saturday,1
153,,Palindromic 1976 greatest hits album,December 24,2016,oleelo,True,Saturday,1
172,,Many a cabaret performer,December 24,2016,showgirl,True,Saturday,1
193,,Wing covering,December 24,2016,bbqsauce,True,Saturday,1
217,,"One title for this puzzle's subject, spelled i...",December 29,2016,earlofchester,True,Thursday,1
221,,Another title for this puzzle's subject,December 29,2016,baronofrenfrew,True,Thursday,1
231,,Another title for this puzzle's subject,December 29,2016,dukeofcornwall,True,Thursday,1
246,,Like some extreme diets,December 29,2016,nocarb,True,Thursday,2
271,,Tied to a particular time,December 29,2016,ofanera,True,Thursday,1
272,,Certain assailants,December 29,2016,knifers,True,Thursday,1
296,,"""The Good War"" Pulitzer Prize winner",December 28,2016,studsterkel,True,Wednesday,1
310,,Boston Celtics coach beginning in 2013,December 28,2016,bradstevens,True,Wednesday,1
328,,"Text to which one might respond ""im gr8""",December 28,2016,howru,True,Wednesday,1
353,,"Minnesota team, for short",December 28,2016,vikes,True,Wednesday,1
391,,Hit pay dirt,December 26,2016,getrich,True,Monday,1
445,,"Hemingway who wrote ""Out Came the Sun""",December 21,2016,mariel,True,Wednesday,1
463,,Sports entertainment show since 1993,December 21,2016,wweraw,True,Wednesday,1
483,,Hardly serious,December 21,2016,jokey,True,Wednesday,1
...,...,...,...,...,...,...,...,...
127546,,See 40-Across,August 7,2012,notfollowingyou,True,Tuesday,1
127562,,Use a whisk on,August 7,2012,handmix,True,Tuesday,1
127578,,Didn't compromise,August 7,2012,stoodfast,True,Tuesday,1
127582,,Hunk on display,August 7,2012,gqmodel,True,Tuesday,1
127610,,Massage message?,August 10,2012,thatfeelssogood,True,Friday,1
127613,,Sent some cybernotes,August 10,2012,imed,True,Friday,4
127634,,Instant-book title of 1981 or 2011,August 10,2012,theroyalwedding,True,Friday,1
127682,,*Result of a financial panic,August 6,2012,bankrun,True,Monday,1
127683,,*Tight braid,August 6,2012,cornrow,True,Monday,1
127695,,*Precipitous drop in cost,August 6,2012,pricedive,True,Monday,1
127722,,Detects like a bloodhound,August 6,2012,sniffsout,True,Monday,1
127750,SINGLE-MINDED,"Disappointing ""Who's with me?"" response?",August 5,2012,showofhand,True,Sunday,1
127751,SINGLE-MINDED,Work to maintain a C average?,August 5,2012,hitthebook,True,Sunday,1
127755,SINGLE-MINDED,Mention that you know a secret?,August 5,2012,spillthebean,True,Sunday,1
127763,SINGLE-MINDED,One who's read an encyclopedia's first volume?,August 5,2012,manofletter,True,Sunday,1
127767,SINGLE-MINDED,Podunk's directory?,August 5,2012,yellowpage,True,Sunday,1
127774,SINGLE-MINDED,Having finished just one month of a job?,August 5,2012,wetbehindtheear,True,Sunday,1
127781,SINGLE-MINDED,What one with a small nest egg enjoys?,August 5,2012,goldenyear,True,Sunday,1
127785,SINGLE-MINDED,Despot's concession?,August 5,2012,billofright,True,Sunday,1
127793,SINGLE-MINDED,Occasional klutz?,August 5,2012,butterfinger,True,Sunday,1
127797,SINGLE-MINDED,Beginning magician's arsenal?,August 5,2012,bagoftrick,True,Sunday,1
127798,SINGLE-MINDED,Go on a brief youthful binge?,August 5,2012,sowonesoat,True,Sunday,1
127835,SINGLE-MINDED,"""Happens sometimes""",August 5,2012,itcan,True,Sunday,1
127864,SINGLE-MINDED,Cheers on,August 5,2012,rootsfor,True,Sunday,1
127915,,Handle online,August 9,2012,screenname,True,Thursday,1
127928,,Society add-ons,August 9,2012,debutantes,True,Thursday,1
127937,,1984 U.S. Olympic gold medalist in gymnastics,August 9,2012,bartconner,True,Thursday,1
127941,,"""Fame"" actress",August 9,2012,niapeeples,True,Thursday,1
127945,,"""You betcha!""",August 9,2012,yesindeedy,True,Thursday,1
127950,,Roman 112,August 9,2012,cxii,True,Thursday,1

In [12]:
cw_unique['answer'].isin(['brexit']).any()

True

In [3]:
oed = pd.read_csv('oed_3.csv')
print oed.shape
oed.head()

(3470, 5)

       entry_type  year  part_of_speech          word      month
0  new word entry  2014             n.4          case  September
1  new word entry  2014   adv. and adj.  case-by-case  September
2  new word entry  2014           adj.2      caseless  September
3  new word entry  2014              n.      caseness  September
4  new word entry  2014             n.1    caseworker  September

In [4]:
oed['entry_type']=oed['entry_type'].map(str)
oed['word']=oed['word'].map(str)
oed['month']=oed['month'].map(str)
oed['year']=oed['year'].map(str)
oed['part_of_speech']=oed['part_of_speech'].map(str)

In [14]:
# OED intersection with non-debut crossword answers
common_words = set(oed['word']).intersection(cw['answer'])
print(len(common_words))
common_words

79

{'arr',
 'autotune',
 'beauty',
 'belgium',
 'best',
 'buff',
 'bugs',
 'burgess',
 'carnap',
 'case',
 'catty',
 'chi',
 'chica',
 'cis',
 'commit',
 'coot',
 'dap',
 'dayton',
 'disc',
 'disco',
 'earworm',
 'elegant',
 'emoji',
 'eris',
 'fava',
 'flexagon',
 'gday',
 'gram',
 'gramps',
 'grams',
 'guac',
 'h2o',
 'hap',
 'hash',
 'hatter',
 'he',
 'heal',
 'hex',
 'his',
 'hoverboard',
 'ile',
 'isa',
 'javascript',
 'lac',
 'lasting',
 'lede',
 'locavore',
 'meh',
 'netbook',
 'osha',
 'penna',
 'photobomb',
 'queso',
 'resounded',
 'rested',
 'retweet',
 'sanger',
 'scene',
 'selfie',
 'sext',
 'ship',
 'skort',
 'skype',
 'sledge',
 'stank',
 'staycation',
 'storyboard',
 'structural',
 'stylo',
 'telly',
 'termite',
 'totes',
 'truly',
 'twerk',
 'unobtainium',
 'vape',
 'weekdays',
 'whit',
 'wuss'}

In [15]:
# OED intersection with debut crossword answers only
common_words = set(oed['word']).intersection(cw_unique['answer'])
print(len(common_words))
common_words

common_df = pd.merge(left=cw_unique, right=oed, how='inner', left_on='answer', 
                     right_on='word' )[['word', 'date', 'year_x', 'month', 'year_y']]
common_df.drop_duplicates()

14

           word          date  year_x      month year_y
0   unobtainium   December 31    2016   December   2014
3      flexagon    February 5    2017       June   2014
6          vape    November 2    2016       June   2015
9    hoverboard        May 23    2016  September   2015
12      earworm     October 1    2015      March   2015
15    photobomb   February 28    2015       June   2015
21       selfie    January 23    2015       June   2014
24     locavore   November 21    2014   December   2015
27        emoji     August 17    2014   December   2013
28   javascript        June 6    2014       June   2015
31       carnap        May 18    2014       June   2015
34        twerk      March 30    2014       June   2015
40      retweet       March 1    2014       June   2015
46      netbook   November 18    2012       June   2015

In [17]:
def monthToNum(mon):
    return{
        'January' : 1,
        'February' : 2,
        'March' : 3,
        'April' : 4,
        'May' : 5,
        'June' : 6,
        'July' : 7,
        'August' : 8,
        'September' : 9, 
        'October' : 10,
        'November' : 11,
        'December' : 12
    }[mon]

def oed_date(x):
    return datetime.date(int(x['year_y']), monthToNum(x['month']), 1,)

def cw_date(x):
    space, mon, day = re.split(' ', x['date'].rstrip())
    return datetime.date(int(x['year_x']), monthToNum(mon), 1)

def faster(x):
    if x['oed_date'] < x['cw_date']:
        return 'OED first'
    else:
        return 'CW first'

def find_start(x):
    if x['oed_date'] < x['cw_date']:
        return x['oed_date']
    else:
        return x['cw_date']
    
def find_finish(x):
    if x['oed_date'] >= x['cw_date']:
        return x['oed_date']
    else:
        return x['cw_date']

In [18]:
common_df['oed_date']=common_df.apply(oed_date, axis=1)
common_df['cw_date']=common_df.apply(cw_date, axis=1)
common_df['first_to_use']=common_df.apply(faster, axis=1)
common_df['Start']=common_df.apply(find_start, axis=1)
common_df['Finish']=common_df.apply(find_finish, axis=1)
common_df.drop_duplicates()

,word,date,year_x,month,year_y,oed_date,cw_date,first_to_use,Start,Finish
0,unobtainium,December 31,2016,December,2014,2014-12-01,2016-12-01,OED first,2014-12-01,2016-12-01
3,flexagon,February 5,2017,June,2014,2014-06-01,2017-02-01,OED first,2014-06-01,2017-02-01
6,vape,November 2,2016,June,2015,2015-06-01,2016-11-01,OED first,2015-06-01,2016-11-01
9,hoverboard,May 23,2016,September,2015,2015-09-01,2016-05-01,OED first,2015-09-01,2016-05-01
12,earworm,October 1,2015,March,2015,2015-03-01,2015-10-01,OED first,2015-03-01,2015-10-01
15,photobomb,February 28,2015,June,2015,2015-06-01,2015-02-01,CW first,2015-02-01,2015-06-01
21,selfie,January 23,2015,June,2014,2014-06-01,2015-01-01,OED first,2014-06-01,2015-01-01
24,locavore,November 21,2014,December,2015,2015-12-01,2014-11-01,CW first,2014-11-01,2015-12-01
27,emoji,August 17,2014,December,2013,2013-12-01,2014-08-01,OED first,2013-12-01,2014-08-01
28,javascript,June 6,2014,June,2015,2015-06-01,2014-06-01,CW first,2014-06-01,2015-06-01
31,carnap,May 18,2014,June,2015,2015-06-01,2014-05-01,CW first,2014-05-01,2015-06-01
34,twerk,March 30,2014,June,2015,2015-06-01,2014-03-01,CW first,2014-03-01,2015-06-01
40,retweet,March 1,2014,June,2015,2015-06-01,2014-03-01,CW first,2014-03-01,2015-06-01
46,netbook,November 18,2012,June,2015,2015-06-01,2012-11-01,CW first,2012-11-01,2015-06-01

In [19]:
df = common_df.drop_duplicates()[['word', 'Start', 'Finish', 'first_to_use']]
df.columns = ['Task', 'Start', 'Finish', 'Resource']
df.head()

           Task       Start      Finish   Resource
0   unobtainium  2014-12-01  2016-12-01  OED first
3      flexagon  2014-06-01  2017-02-01  OED first
6          vape  2015-06-01  2016-11-01  OED first
9    hoverboard  2015-09-01  2016-05-01  OED first
12      earworm  2015-03-01  2015-10-01  OED first

In [20]:
import plotly.plotly as py
import plotly.figure_factory as ff

df_gantt = [dict(Task=x[1][0], Start=x[1][1], Finish=x[1][2], Resource=x[1][3]) for x in df.iterrows()]

fig = ff.create_gantt(df_gantt, index_col='Resource', title='Time Between NYT CW and OED Debuts', 
                      show_colorbar=True, showgrid_x=True, showgrid_y=True)
py.iplot(fig, filename='gantt-simple-gantt-chart', world_readable=True)

In [21]:
ud = pd.read_csv('ud_3.csv')
ud = ud.dropna()
ud['phrase']=ud['phrase'].map(str)

oed['word']=oed['word'].map(lambda x: x.lower())
ud['phrase']=ud['phrase'].map(lambda x: x.lower())
ud.head()

,submit_date,down_votes,up_votes,meaning,date,phrase
0,"May 01, 2003",1612,1717,another word for tight,May 2,fye
1,"December 12, 2003",792,3728,forciby volunteered. A task that was once vol...,Apr 11,voluntold
2,"February 05, 2010",592,1866,When you inadvertently reach for a beer that d...,Apr 18,ghost beer
3,"March 26, 2017",2665,1993,Unapologetic un-PC alpha male conservative fan...,Mar 28,breitbastard
4,"January 24, 2017",862,1676,To masturbate at work while on the clock.,May 1,beat out a paycheck

In [24]:
common_words = set(cw_unique['answer']).intersection(ud['phrase'])
print len(common_words)
print common_words

35
set(['besties', 'instagram', 'mcdreamy', 'lifehack', 'selfie', 'locavore', 'cyber', 'humblebrag', 'overshare', 'shaka', 'dubstep', 'adhd', 'foodie', 'kidult', 'frenemy', 'photobomb', 'mansplain', 'twerk', 'vuvuzela', 'biodome', 'sexile', 'showmance', 'facepalm', 'snarky', 'srsly', 'deets', 'earworm', 'swole', 'janky', 'unobtainium', 'obamania', 'bae', 'haterade', 'nsfw', 'potus'])

In [25]:
common_df = pd.merge(left=cw_unique, right=ud, how='inner', left_on='answer', 
                     right_on='phrase')[['answer', 'date_x', 'year', 'submit_date']]
common_df.drop_duplicates()
common_df.columns = ['word', 'xword_date', 'xword_year', 'ud_submit_date']
common_df

           word     xword_date  xword_year       ud_submit_date
0   unobtainium    December 31        2016      August 16, 2003
1     showmance    December 19        2016        July 17, 2006
2         swole          May 7        2017       April 14, 2004
3         janky    February 19        2017       March 25, 2003
4       besties     February 4        2017     October 19, 2004
5        sexile     February 5        2017    February 25, 2003
6           bae     February 1        2017      August 11, 2006
7      lifehack     October 28        2016    December 06, 2005
8       dubstep       April 15        2016      August 23, 2010
9         deets        June 26        2016   September 30, 2004
10     haterade       March 25        2016        July 24, 2003
11        srsly    February 13        2016     October 06, 2006
12      earworm      October 1        2015     October 13, 2004
13    mansplain        June 26        2015    February 05, 2010
14     mcdreamy        June 27        2015   September 27, 2006
15       snarky         June 5        2015     October 09, 2002
16    photobomb    February 28        2015    November 16, 2009
17    photobomb    February 28        2015        June 27, 2008
18       selfie     January 23        2015        July 29, 2009
19     obamania    November 29        2014     January 16, 2008
20     locavore    November 21        2014   September 07, 2006
21        potus   September 30        2014     January 29, 2017
22        potus   September 30        2014        July 30, 2005
23   humblebrag   September 19        2014         May 02, 2011
24    overshare         May 30        2014    December 14, 2003
25         nsfw        April 2        2014   September 12, 2003
26        twerk       March 30        2014    November 30, 2012
27       foodie    February 27        2014    February 25, 2005
28         adhd     February 6        2014    December 05, 2004
29     facepalm     January 18        2014    February 10, 2004
30       kidult     November 2        2013     January 09, 2006
31        shaka        July 21        2013    December 22, 2003
32        cyber        June 10        2013    February 22, 2004
33      biodome     February 1        2013        July 19, 2005
34      frenemy     February 1        2013         May 05, 2004
35    instagram    November 10        2012         May 15, 2011
36     vuvuzela   September 28        2012        June 13, 2010